# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Environment ---
.env

# --- System ---
.DS_Store
Thumbs.db

# --- IDEs ---
.vscode/
.idea/

# --- Misc ---
*.log
*.tmp
*.bak
*.swp
*.db
*.sqlite3 